/* Scrollbar */
.scrollbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: _size(scrollbar);
  padding: 0px;
  margin: 0px;
  background-color: #f4f6f9;
  color: #666666;
  z-index: 1;
}